<section class="comp-demo">
	<h2 class="comp-demo__label">c-cardSmall</h2>
	<div class="c-inner">
		<div class="c-cardSmall">
			<a class="c-cardSmall__img" href="#">
				<img alt="" class="c-cardSmall__imgItem" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='450'%3E%3Crect fill='%23EEF5FE' width='800' height='450'/%3E%3Ctext x='400' y='230' text-anchor='middle' fill='%232D83E2' font-size='24' font-family='sans-serif'%3ESample%3C/text%3E%3C/svg%3E">
			</a>
			<div class="c-cardSmall__detail">
				<time class="c-cardSmall__date" datetime="2026-01-15">2026.01.15</time>
				<div class="c-cardSmall__category">
					<span class="c-cardSmall__categoryItem">カテゴリ</span>
				</div>
				<a class="c-cardSmall__title" href="#">小サイズカードのタイトル</a>
			</div>
		</div>
	</div>
</section>
