<section class="comp-demo">
	<h2 class="comp-demo__label">c-cardMid</h2>
	<div class="c-inner">
		<div class="c-cardMid">
			<a class="c-cardMid__img" href="#">
				<img alt="" class="c-cardMid__imgItem" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='450'%3E%3Crect fill='%23EEF5FE' width='800' height='450'/%3E%3Ctext x='400' y='230' text-anchor='middle' fill='%232D83E2' font-size='24' font-family='sans-serif'%3ESample%3C/text%3E%3C/svg%3E">
			</a>
			<div class="c-cardMid__detail">
				<time class="c-cardMid__date" datetime="2026-01-15">2026.01.15</time>
				<div class="c-cardMid__category">
					<span class="c-cardMid__categoryItem">カテゴリ</span>
				</div>
				<a class="c-cardMid__title" href="#">中サイズカードのタイトルが入ります</a>
				<div class="c-cardMid__tag">
					<span class="c-cardMid__tagItem">#タグ</span>
					<span class="c-cardMid__tagItem">#サンプル</span>
				</div>
			</div>
		</div>
	</div>
</section>
