//ARROW
@mixin arrow($direction: right, $size: 10, $color: #333) {
	$set: left;
	@if $direction == left {
		$set: right;
	} @else if $direction == top {
		$set: bottom;
	} @else if $direction == bottom {
		$set: top;
	} @else {
		$set: left;
	}
	$size: round($size / 2);
	width: 0;
	height: 0;
	border: $size + px solid transparent;
	border-#{$set}-color: $color;
}

@mixin arrow-per($direction: right, $size: 10, $color: #333) {
	$set: left;
	@if $direction == left {
		$set: right;
	} @else if $direction == top {
		$set: bottom;
	} @else if $direction == bottom {
		$set: top;
	} @else {
		$set: left;
	}
	$size: round($size / 2);
	width: 0;
	height: 0;
	border: $size + em solid transparent;
	border-#{$set}-color: $color;
}