@mixin form-reset {
	input,
	button,
	textarea,
	select {
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		font-weight: normal;
		font-size: 100%;
		-webkit-appearance: none;
		appearance: none;
	}

	::placeholder {
		color: #B7AFA3;
	}

	select::-ms-expand {
		display: none;
	}

	input[type="checkbox"], input[type="radio"] {
		display: none;
	}

	input[type="checkbox"], input[type="radio"] {
		display: none;

		& + label {
			cursor: pointer;
		}
	}
}