// grid簡易設定必ずcss側でgrid-template-areasを設定すること
@mixin grid($columns,$rows,$gap:0) {
	display: grid;
	grid-template-rows: repeat($rows, 1fr);
	grid-template-columns: repeat($columns, 1fr);
	gap: $gap;
}

@mixin grid-child($maxLength,$itemName:cell) {
	& > * {
		@for $i from 1 through $maxLength {
			&:nth-child(#{$i}) {
				grid-area: #{$itemName}#{$i};
			}
		}
	}
}