@use "sass:map";
@use "sass:list";
@use "sass:meta";
@use "../_config/icons" as *;

@function icon-url($name) {
	@return map.get($icons, $name);
}

@mixin icon($name, $color: null, $size: contain) {
	$url: icon-url($name);

	@if $url == null {
		@error "icon '#{$name}' is not defined in $icons.";
	}

	vertical-align: middle;

	background-repeat: no-repeat;
	background-position: center;

	@if $color != null {
		// ▼ 単色（mask）
		background-color: $color;
		mask-repeat: no-repeat;
		mask-position: center;
		@include icon-mask-url($url);
		@include icon-mask-size($size);
	} @else {
		// ▼ フルカラー（background）
		background-color: transparent;
		background-image: url(#{$url});
		@include icon-bg-size($size);
	}
}


@mixin icon-mask-url($url) {
	mask-image: url(#{$url});
}

@mixin icon-mask-size($size) {
	@if meta.type-of($size) == 'list' and list.length($size) == 2 {
		mask-size: list.nth($size, 1) list.nth($size, 2);
	} @else {
		mask-size: $size; // contain / cover / 80% / 16px など
	}
}

@mixin icon-bg-size($size) {
	@if meta.type-of($size) == 'list' and list.length($size) == 2 {
		background-size: list.nth($size, 1) list.nth($size, 2);
	} @else {
		background-size: $size;
	}
}

@mixin icon-color($color: null) {
	@if $color != null {
		background-color: $color;
	}
}
