@use "sass:meta";

@mixin line-clamp($lines:1) {
	@if meta.type-of($lines) != number or $lines < 1 {
		@error "line-clamp(): $lines must be a number >= 1";
	}
	overflow: hidden;
	@if $lines == 1 {
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $lines;
	}
}
