//正三角形
@mixin triangle($direction: right, $size: 10, $color: #333) {
  $set: left;
  @if $direction == left {
    $set: right;
  } @else if $direction == top {
    $set: bottom;
  } @else if $direction == bottom {
    $set: top;
  } @else {
    $set: left;
  }
  $size: round($size / 2);
  $rootSize: $size * 1.732;
  width: 0;
  height: 0;
  border: $size + px solid transparent;
  border-#{$set}: solid $color $rootSize + px;
}