@mixin e-checkbox($checkColor:black,$borderColor:#ddd,$background:#fff,$borderRadius:0) {
	// input[type="checkbox"]
	display: none;
	& + label {
		cursor: pointer;
		padding-left: 2em;
		position: relative;

		&:after {
			//transition:  0.2s;
			//transition-property: background-color,border-color;
			position: absolute;
			content: '';
			width: 20px;
			height: 20px;
			display: block;
			background: $background;
			transform: translateY(-50%);
			top: 50%;
			left: 0;
			border: 1px solid $borderColor;
			border-radius: $borderRadius;
		}

		&:before {
			//transition:  0.2s;
			//transition-property: background-color,border-color;
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			display: block;
			transform: translateY(-50%) rotate(45deg);
			top: 50%;
			left: 0;
		}
	}

	&:checked + label:after {
		position: absolute;
		content: '';
		width: 20px;
		height: 20px;
		display: block;
		border-radius: $borderRadius;
		background: $checkColor;
		border-color: $checkColor;
	}

	&:checked + label:before {
		position: absolute;
		content: '';
		width: 4px;
		height: 10px;
		display: block;
		left: 8px;
		border: none;
		background: none;
		border-bottom: 2px solid white;
		border-right: 2px solid white;
		z-index: 1;
		top: 12px;
	}

	//input[type="checkbox"] {
	//	& + span {
	//		margin-right: 20px;
	//		&:after {
	//			background-color: #fff;
	//		}
	//	}
	//	&:checked + .wpcf7-list-item-label{
	//		position: relative;
	//		display: block;
	//		width: fit-content;
	//	}
	//	&:checked + .wpcf7-list-item-label:after {
	//		background-color: #fff;
	//
	//	}
	//}
}