@use "../../_global/00-index" as *;

.c-titleLine {
	font-size: 2.4rem;
	padding-left: 2.3em;
	margin-bottom: 20px;
	position: relative;
	color: $primary-color;
	font-weight: 500;
	@include mqd($md){
		font-size: 2rem;
		padding-left: 2.2rem;
	}
	&:before{
		@include content(1.5em,1px,#C9E1FF);
		left: 0;
		top: .8em;
		@include mqd($md){
			width: .8em;
		}
	}
}
