@use "../../_global/00-index" as *;

.c-titleSm {
	font-size: 2.4rem;
	font-weight: 500;
	padding-left: 2.0em;
	position: relative;
	color: $primary_color;
	margin: 0 0 1em;
	@include mqd($md){
		padding-left: 1.6em;
		font-size: 2.0rem;
	}
	&:before{
		@include content(1.5em,1px);
		top: .8em;
		left: 0;
		border-bottom: 1px solid $primary_color;
		@include mqd($md){
			width: 1.1em;
		}
	}
}
