@use "../../_global/00-index" as *;
.l-columnArchive{
	padding-bottom: 80px;
	&__title{
		font-size: 2.4rem;
		padding-left: 2.3em;
		margin-bottom: 20px;
		position: relative;
		color: $primary-color;
		font-weight: 500;
		@include mqd($md){
			font-size: 2rem;
		}
		&:before{
			@include content(1.5em,1px,$primary_color);
			left: 0;
			@include trans-y();
		}

	}
	&__box{
		@include flex;
		gap:80px 50px;
		@include mqd($md){
			gap:40px 0;
		}
	}
	&__boxFirst{
		width: 100%;
		margin-bottom: 80px;
		border: 1px solid $primary_color;
		padding: 20px;
		border-radius: 10px;
		@include mqd($md){
			margin-bottom: 40px;


		}
	}
	&__boxCard{
		@include mqu($md) {
			width: 100%;
			display: flex;
			flex-direction: inherit;

			&__img{
				width: 55%;
				&:before{
					width: 4.2rem;
					height: 4.2rem;
				}
				&:after{
					width: 4.2rem;
					height: 4.2rem;
					mask-size: 1.5rem;
				}
			}
			&__detail{
				flex: 1;
			}
			&__categoryItem {
				font-size: 1.4rem;
			}
			&__title {
				font-size: 2.2rem;;

			}
			&__tag{
				flex-direction: column;
			}
			&__tagItem{
				font-size: 1.5rem;
			}
		}
	}
	&__boxItem {
		@include gap(50px, 3);
		box-sizing: border-box;
		position: relative;
		@include mqd($lg){
			@include gap(50px, 2);
		}
		@include mqd($md){
			width: 100%;
		}
		@include mqu($lg){
			&:nth-child(3n + 2){
				&:after{
					@include content(1px,100%,#E8E8E8);
					right: -25px;
					top: 0;
				}
				&:before{
					@include content(1px,100%,#E8E8E8);
					left: -25px;
					top: 0;
				}
			}
		}
		@include mqd($lg){
			&:nth-child(2n + 1){
				&:after{
					@include content(1px,100%,#E8E8E8);
					right: -25px;
					top: 0;
				}
			}
		}
		@include mqd($md){
			&:nth-child(2n + 1) {
				&:after {
					content: none;
				}
			}

		}

	}
}