@use "../../_global/00-index" as *;
.c-btnSquare {
	@include e-btn;
	background: $primary_color;
	color: $white;
	border: 1px solid $primary_color;
	border-radius: 5px;
	width: 100%;
	font-weight: 500;
	max-width: 380px;

	margin: 0 auto;
	transition: .3s ease;
	transition-property: background-color,border-color,color;
	&:after,&:before{
		@include content(29px,29px);
		@include trans-y();
		border-radius: 50%;
		right: 10px;
		transition: .3s ease;
		transition-property: background-color,border-color;
	}
	&:after{
		@include icon(arrow,$white,10px);
	}
	&:before{
		border: 1px solid $white;
	}
	&:hover{
		background: $white;
		border-color: $primary_color;
		color: $primary_color;
		opacity: 1;
		&:after{
			background-color: $primary_color;
		}
		&:before{
			border-color: #D1D1D1;
		}

	}
	&.--hidden{
		pointer-events: none;
		background-color: $gray;
		border-color: $gray;
	}
	&.--submit{
		&:after{
			@include icon(arrow_sm,$white,5px);
			@include trans-y(90);
			top:calc(50% + 1px);
		}
		&:hover{
			&:after{
				background-color: $primary_color;
			}
		}
	}
}