@use "../../_global/00-index" as *;
.c-btn {
	$self:&;
	@include e-btn;
	background: $primary_color;
	border-radius: 40px;
	padding-right: 45px;
	min-width: 280px;
	font-weight: 500;
	transition: .3s ease;
	transition-property: background-color,border-color,color;
	border: 2px solid $primary_color;
	@include mqd($md){
		padding: 12px 40px 12px 18px;
		letter-spacing: 0;
	}

	&.--full{
		width: 100%;
		max-width: 800px;
	}

	&:hover{
		background: $white;
		border-color: $primary_color;
		color: $primary_color;
		opacity: 1;
		&:after{
			background-color: $primary_color;
		}
		&:before{
			border-color: #D1D1D1;
		}
		&.--mail:after{
			@include icon(mail,$primary_color,13px);
		}
		&.--download:after{
			@include icon(download,$primary_color,13px);
		}

	}

	&:after,&:before{
		@include content(29px,29px);
		@include trans-y();
		border-radius: 50%;
		right: 6px;
		transition: .3s ease;
		transition-property: background-color,border-color;
	}
	&:after{
		@include icon(arrow,$white,10px);
	}
	&:before{
		border: 1px solid $white;
	}
	&.--flex{
		min-width: initial;
		@include mqd($md){
			min-width: 280px;
		}
	}


	&.--lightBlue{
		background: $secondary_color;
		border: 2px solid $secondary_color;
		color: white;
		&:hover{
			background: $white;
			border: 2px solid $secondary_color;
			color: $secondary_color;
			&:after{
				background-color: $secondary_color;
			}
			&:before{
				border-color: $secondary_color;
			}
		}
	}


	&.--transparent{
		background: rgba(#000,.3);
		border: 2px solid $white;
		&:hover{
			background: $white;
			border: 2px solid $white;
			color: $primary_color;
			&:after{
				background-color: $primary_color;
			}
			&:before{
				border-color: #D1D1D1;
			}
		}
	}


	&.--wh{
		background: $white;
		color: $primary_color;
		border: 2px solid $primary_color;
		&:after{
			@include icon(arrow,$primary_color,10px);
		}
		&:before{
			border-color:#D1D1D1;
		}
		&:hover{
			background: $primary_color;
			border-color:$primary_color;
			color: $white;
			&:after{
				background-color: $white;
			}
			&:before{
				border-color: $white;
			}
		}
	}


	&.--mail:after{
		@include icon(mail,$white,13px);
	}
	&.--download:after{
		@include icon(download,$primary_color,13px);
	}
	&[target="_blank"]:after{
		@include icon(window,$primary_color,10px);
	}


	&.--hoverLight{
		&:hover{
			background: $secondary_color;
			border-color: $primary_color;
			color: white;
		}

	}

	&__flex{
		margin: 40px auto;
		@include flex;
		gap: 20px;
		& > *{
			flex: 1;
		}
	}


	&.is-hidden{
		pointer-events: none;
		background: #d6d6d6;
		//filter: grayscale(1);
		margin-bottom: 20px;
		border-color: $border-gray;
		color: $border-gray;
		&:after{
			@include icon(arrow,$border-gray,10px);
		}
		&:before{
			content: '※現在準備中';
			position: absolute;
			width: 6em;
			color: $red;
			border: none;
			@include trans-reset;
			height: initial;
			letter-spacing: 0;
			top:calc(100% + 5px);
			font-size: 1.3rem;
			right: 0;
		}
	}
}
