<section class="comp-demo">
	<h2 class="comp-demo__label">c-btn</h2>
	<div class="c-inner">
		<a class="c-btn" href="#">通常ボタン</a>
		<a class="c-btn --full" href="#">フル幅（--full）</a>
		<a class="c-btn --flex" href="#">フレックス（--flex）</a>
		<div class="c-btn__flex">
			<a class="c-btn --lightBlue" href="#">ライトブルー（--lightBlue）</a>
			<a class="c-btn --wh" href="#">白背景（--wh）</a>
		</div>
		<a class="c-btn --transparent" href="#">透明（--transparent）</a>
		<a class="c-btn --hoverLight" href="#">ホバーライト（--hoverLight）</a>
		<a class="c-btn --mail" href="#">メール（--mail）</a>
		<a class="c-btn --download" href="#">ダウンロード（--download）</a>
		<a class="c-btn is-hidden" href="#">準備中（is-hidden）</a>
	</div>
</section>
