@use "../_global/00-index" as *;

.c-breadcrumb {
	@include e-breadcrumb;
	font-size: 1.4rem;
	@include mqd($md){
		display: none;
	}
	&__item{
		&:after{
			@include content(.5em,.5em);
			@include trans-y(45);
			border-top: 1px solid $font-color;
			border-right: 1px solid $font-color;
		}
	}

}
