@use "../_global/00-index" as *;
.c-contents{
	&__wrap{
		margin: 60px 0 40px;
		@include mqd($md-lg){
			//padding-left: 10px;
			//padding-right: 10px;
			position: relative;
			overflow: auto;
			//margin-right: -10px;
			//margin-left: -10px;
			width: 100%
		}
	}
}

