@use "../_global/00-index" as *;

.c-container{
	position: static;

	main{
		flex: 1;
		@include mqd($md-lg){
			flex: inherit;
			width: 100%;
		}
	}

	&:has(.l-sideNav){
		display: flex;
		justify-content: space-between;
		//align-items: flex-start;
		gap:40px 70px;
		@include mqd($lg){
			gap: 40px;
		}
	}
}