@use "../_global/00-index" as *;
.c-curveBg{
	position: relative;
	&:before{
		@include content(100%,7vw);
		@include trans-x();
		top: -1px;
		background: url(#{$dir}/common/section_bg.svg) center bottom no-repeat;
		background-size: cover;
		width: 100%;
		@include mqd($md){
			background-size: 150%;
			background-position: top center;
		}
	}

	&.--wh:before{
		background-image: url(#{$dir}/common/section_bg-wh.svg);
	}

	&__bottom:after{
		@include content(100%,18vw);
		@include trans-x();
		bottom: -1px;
		background: url(#{$dir}/common/section_bg-bottom.svg) center top no-repeat;
		background-size: cover;
		width: 100%;
		@include mqd($md){
			background-size: 200%;
			height: 21vw;
			background-position: top center;
		}
	}
	&__top:after{
		@include content(100%,20vw);
		@include trans-x();
		top: -1px;
		background: url(#{$dir}/common/section_bg-bottom.svg) center 30px no-repeat,
		url(#{$dir}/common/bg-gard-reverse.svg) center center no-repeat;
		background-size: cover,cover;
		width: 100%;
		@include mqd($md){
			background-size: 200%;
			height: 50vw;
			background-position: bottom center;
		}
	}
	&__product:before{
		@include content(100%,100%);
		@include trans-x();
		background: url(#{$dir}/common/bg-gard.svg) center center no-repeat;
		background-size: cover;
		width: 100%;
		top:0;
	}
	&__product:after{
		@include content(100%,13vw);
		@include trans-x();
		top: -1;
		background: url(#{$dir}/common/section_bg-top.svg) center top no-repeat;
		background-size: cover;
		width: 100%;
		@include mqd($md){
			background-size: 250%;
			height: 31vw;
			background-position: 21%, top;
		}
	}
	&__topReverse:after{
		@include content(100%,12vw);
		@include trans-x();
		top: -1px;
		background: url(#{$dir}/common/section_bg-top.svg) center bottom no-repeat;
		background-size: cover;
		width: 100%;
		@include mqd($md){
			background-size: 200%;
			height: 21vw;
			background-position: bottom center;
		}
	}
}