@use "../_global/00-index" as *;

.c-edit {

	h2{
		font-size: 2.4rem;
		font-weight: 600;
		margin: 3em 0 1.5em;
		padding-bottom: .5em;
		border-bottom: 1px solid #D9D9D9;
		@include mqd($md){
			font-size: 2.0rem;
		}
	}
	h3{
		font-size: 1.8rem;
		font-weight: 600;
		padding-left: 2.5em;
		position: relative;
		margin: 2em 0 1em;
		&:before{
			@include content(2em,1px);
			@include trans-y();
			left: 0;
			border-bottom: 1px solid $primary_color;
		}
	}
	h4{
		color: $primary_color;
		font-weight: 600;
		margin: 1.5em 0 1em;
	}
	h5{}
	h6{}
	a{
		line-height: 1.6;
		width: fit-content;
		text-decoration: underline;
		color: $primary_color;
		position: relative;
		display: inline-block;
		&[target="_blank"]{
			padding-right: 1.3em;

			&:before{
				@include content(.8em,.8em);
				@include icon(window,$primary_color);
				top:.4em;
				right: 0;
			}
		}
	}
	p{
		line-height: 2.5;
		margin-bottom: 2em;
		@include mqd($md){
			line-height: 2.0;
		}
	}
	figure{
		margin: 40px 0;
		img{
			border-radius: 10px;
		}
	}

	table{
		border-collapse: collapse;
		-webkit-overflow-scrolling: touch;
		width: 100%;
		background:#fff;
		table-layout: fixed;
		text-align: center;
		line-height: 1.6;
		@include mqd($md){
			min-width: 700px;
		}
	}
	thead{

		th{
			background:#E3EBF5;
			//min-width: 210px;
			text-align: center;
			padding: 15px 5px;
			line-height: 1.4;
			color: $primary_color;
			font-weight: 500;
			//font-size: 1.6rem;
			border-bottom: 1px solid #E8E8E8;
			border-right: 1px solid #fff;
			&:first-child{
				border-radius: 5px 0 0 0;
			}
			&:last-child{
				border-radius: 0 5px 0 0;
				border-right: none;
			}

			@include mqd($md){
				padding: 10px 5px;
			}
		}
	}
	tbody{
		th,td{
			border-bottom: 1px solid #E8E8E8;
			padding: 20px 15px;
			vertical-align: middle;
			text-align: left;
			//font-size: 1.6rem;
			@include mqd($md){
				padding: 10px 10px;
			}
		}
		th{
			background: #F8FBFE;
		}
	}

	ul{
		border: 1px solid #E8E8E8;
		padding: 30px;
		border-radius: 5px;
		margin: 20px 0;
		@include flex;
		flex-direction: column;
		gap: 1em;
		@include mqd($md){
			padding: 20px;
			gap: .6em;
		}
		li{
			position: relative;
			padding-left: 1em;
			font-weight: 400;
			&:before{
				@include content(6px,6px,$primary_color);
				position: absolute;
				border-radius: 50%;
				left: 0;
				top: .6em;
			}
		}
	}
	hr{
		border-top: 1px solid #E8E8E8;
	}
	ol{
		border: 1px solid #E8E8E8;
		padding: 30px;
		border-radius: 5px;
		margin: 20px 0;
		@include flex;
		flex-direction: column;
		gap: 1em;
		counter-reset: ol 0;
		@include mqd($md){
			padding: 20px;
			gap: .6em;
		}
		li{
			position: relative;
			padding-left: 2.3em;
			counter-increment: ol 1;
			&:before{
				color: $primary_color;
				font-weight: 500;
				position: absolute;
				content: counter(ol,decimal-leading-zero)'.';
				left: 0;
				top: 0;
			}

		}
	}
}