@use "../_global/00-index" as *;
.c-inner {
	max-width: $lg;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
	@include mqd(1440px){
		padding: 0 40px;
	}
	@include mqd($lg){
		padding: 0 40px;
	}
	@include mqd($md) {
		padding: 0 5%;
	}
	&__wide{
		@extend .c-inner;
		max-width: 1400px;
	}
	&__mid{
		@extend .c-inner;
		max-width: 1120px;
	}

	&__small{
		@extend .c-inner;
		max-width: 1000px;
	}

}