@use "../_global/00-index" as *;
.c-scroll {
	position: relative;
	@include mqd($md-lg){
		box-sizing: border-box;
		@include flex;
		padding-top: 50px;

		&:before{
			content: '';
			width: 120px;
			height: 30px;

			background: url(#{$dir}/common/ico-scroll.png) center center no-repeat ;
			background-size: contain;
			position: absolute;
			left: calc(100% - 100px);
			top: 0;
		}
	}
}