@use "../_global/00-index" as *;
.c-table{
	width: 100%;
	-webkit-overflow-scrolling: touch;
	table-layout: fixed;
	text-align: center;
	line-height: 1.6;
	@include mqd($md){
		min-width: 700px;
	}

	&__wrap{
		@include mqd($md){
			box-sizing: border-box;
			@include flex;
			overflow: auto;
			width: 100vw;
			padding: 0 5vw 10px;
			margin: 0 -5vw;
		}

	}
	thead{
		th{
			background:#E3EBF5;
			//min-width: 210px;
			text-align: center;
			padding: 15px 5px;
			line-height: 1.4;
			color: $primary_color;
			font-weight: 500;
			//font-size: 1.6rem;
			border-bottom: 1px solid #E8E8E8;
			border-right: 1px solid #fff;
			&:first-child{
				border-radius: 5px 0 0 0;
			}
			&:last-child{
				border-radius: 0 5px 0 0;
				border-right: none;
			}

			@include mqd($md){
				padding: 10px 5px;
			}
		}
	}
	tbody{
		th,td{
			border-bottom: 1px solid #E8E8E8;
			padding: 20px 15px;
			vertical-align: middle;
			text-align: left;
			//font-size: 1.6rem;
			@include mqd($md){
				padding: 10px 10px;
			}
		}
		th{
			background: #F8FBFE;
		}
	}
}