@use "../../_global/00-index" as *;

.l-cta {
	background: $bg-color0;
	padding: 70px 0 30px;
	@include mqd($md) {
		padding: 40px 0 60px;
	}

	&__detail {
		text-align: center;
	}

	&__lead {
		font-size: 1.8rem;
		font-weight: 500;
		color: $primary_color;
		position: relative;
		left: .5em;
		@include mqd($md) {
			font-size: 1.6rem;
		}

	}

	&__tel {
		margin: -0.8em auto -1.2em;
		display: block;
		width: fit-content;
		@include mqd($md) {
			font-size: 0.8rem;
		}
	}

	&__text {
		letter-spacing: .2em;
	}

	&__box {
		@include flex;
		gap: 20px;
		margin-top: 40px;
		@include mqd($md) {
			gap: 15px;
			margin-top: 20px;
		}
	}

	&__item {
		@include gap(20px, 2);
		@include mqd($md) {
			width: 100%;
		}
	}


}