@use "../../_global/00-index" as *;

.l-footer {
	background: $bg-color0;
	padding: 20px 0 80px;
	position: relative;
	@include mqd($md) {
		background: $white;
		padding: 60px 0 40px;
	}

	&:before {
		@include mqd($md){
			@include content(100%, 30px);
			left: 0;
			bottom: 0;
			background: $bg-color0;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		@include mqd($md) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__detail {
		@include mqd($md) {
			text-align: center;
		}
	}

	&__logo {
		width: 160px;
		display: block;
		@include mqd($md) {
			margin: 0 auto;
		}
	}

	&__logoItem {
		width: 100%;
		display: block;
	}

	&__logoText {
		font-size: 1.5rem;
		font-weight: 700;
		letter-spacing: .2em;
		margin-top: 10px;
	}

	&__address {
		margin-top: 5px;
		font-size: 1.4rem;
	}

	&__tel {
		font-weight: 600;
		letter-spacing: .1em;
		margin-top: 20px;
		@include flex;
		gap: 15px;
		align-items: center;
		@include mqd($md) {
			margin-top: 5px;
			gap: 10px;
		}
	}

	&__telBorder {
		font-weight: 400;
	}

	&__nav {
		@include flex;
		gap: 20px 0;
		justify-content: flex-end;
		@include mqd($md) {
			justify-content: center;
			gap: 0;
			font-size: 1.6rem;
			width: 100%;
			max-width: 500px;
			margin-top: 20px;
		}

	}

	&__navSection {
		@include flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 5px 40px;
		border-right: 1px solid $white;
		gap: 15px;
		@include mqd(1200px) {
			padding: 5px 20px;
		}
		@include mqd($md) {
			gap: 0;
			border-right: none;
			width: 100%;
			padding: 0;
			align-items: initial;
		}

		&:nth-last-of-type(1) {
			border-right: none;
		}

	}



	&__toggleBox {
		@include mqd($md) {
			display: grid;
			grid-template-rows: 0fr;
			transition: grid-template-rows 0.4s ease;
			background: #F8FBFE;
			padding: 0 10px;

		}
		//margin-top: 5px;
	}
	&__toggleBoxWrap {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		overflow: hidden;

	}
	.js-toggle + &__toggleBox {
		@include mqd($md) {
			grid-template-rows: 1fr;
		}
	}

	&__navItem {
		position: relative;
		font-weight: 500;
		padding-right: 1.8em;
		font-size: 1.5rem;
		@include mqd($md) {
			padding: 15px 10px;
			border-bottom: 1px solid #E8E8E8;
			&.--toggle {
				cursor: pointer;

				&:after {
					@include icon(arrow_sm, $primary_color);
					@include trans-y(90);
				}
			}
			&.--toggle.js-toggle:after {
				@include trans-y(-90);
			}
		}

		&:after {
			@include content(10px, 10px);
			@include icon(arrow, $primary_color, .7em);
			@include trans-y();
			right: 10px;
		}
		&[target='_blank']:after {
			@include icon(window, $primary_color, .7em);
		}
	}


	&__navSection:last-child &__navItem:last-child{
		@include mqd($md) {
			border-bottom: none;
		}
	}
	&__linkChild {
		font-size: 1.4rem;
		font-weight: 500;
		position: relative;
		padding-left: 1.7em;

		@include mqd($md) {
			font-size: 1.4rem;
			border-bottom: 1px solid $border-color;
			padding: 15px 10px;
			position: relative;
			width: 100%;
			background: #F8FBFE;
			font-weight: 500;
			&:last-child{
				border-bottom: none;
			}
		}

		&:after {
			@include content(.9em, 1px);
			border-bottom: 1px solid $primary_color;
			background: $primary_color;
			left: 2px;
			@include trans-y();
			@include mqd($md) {
				@include content(10px, 10px);
				@include icon(arrow, $primary_color);
				@include trans-y();
				left: initial;
				right: 10px;
			}
		}


	}
	&__btnList{
		@include flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 20px;
		width: 100%;
	}
	&__btn{
		width: 100%;
		display: block;
	}

	&__copy {
		background: $black;
		text-align: center;
		font-size: 1.2rem;
		color: $white;
		padding: 10px 0;
	}
}