@use "../../_global/00-index" as *;

.l-globalNav {
	@include mqd($md-lg) {
		position: absolute;
		top: 0;
		right: 0;
		transform: translateX(100%);
		transition: transform .3s ease-in-out;
		background: $white;
		height: 90svh;
		padding: 20px 0 20px 20px;
		max-width: 320px;
		width: 90%;
		border-radius: 20px 0 0 20px;
		z-index: 55;
		@include shadow();
		&.js-active {
			transform: translateX(0);
		}
	}
	&__spContact{
		display: none;
		margin-left: auto;
		background: #E7F2FF;
		color: $primary_color;
		padding: .4em 2.5em .4em 1.8em;
		font-weight: 600;
		letter-spacing: .1em;
		border-radius: 60px;
		font-size: 1.4rem;
		margin-right: 5px;
		position: relative;
		&:after{
			@include content(1em,1em);
			@include icon('mail',$primary_color);
			@include trans-y();
			right: .7em;
		}
		@include mqd($md-lg) {
			display: block;

		}
	}

	&__btnList {
		display: none;

		@include mqd($md-lg) {
			margin-top: 20px;
			@include flex;
			gap: 10px;
			flex-direction: column;
			align-items: center;
		}
	}

	&__box {
		@include flex;
		justify-content: space-between;
		padding-right: 20px;

		@include mqd($md){
			padding-bottom: 10px;
		}
	}

	&__logo {
		display: none;
		@include mqd($md-lg) {
			display: block;
		}
	}

	&__contact {
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 1.5rem;
	}

	&__open, &__close {
		display: none;
		position: relative;
		width: 50px;
		height: 50px;
		cursor: pointer;
		@include mqd($md-lg) {
			display: block;

		}
		@include mqd($md) {
			width: 40px;
			height: 40px;
		}
	}

	&__open {
		@include icon(menu, $black);
	}

	&__close {
		@include icon(menu_close, $black);
	}

	&__top {
		@include flex;
		align-items: center;
		gap: 20px;
		justify-content: flex-end;
		@include mqd($md-lg) {
			display: none;
		}
	}

	&__qa {
		font-size: 1.4rem;
		position: relative;
		padding-right: 1.2em;
		color: $font-gray;

		&:after {
			@include content(10px, 10px);
			@include icon(arrow_sm, $primary_color);
			right: 0;
			@include trans-y();
			top: calc(50% + 1px);
		}
	}

	&__tel {
		padding-left: 1.2em;
		position: relative;
		font-size: 1.8rem;
		font-weight: 500;
		color: $primary_color;

		&:before {
			@include content(1.1em, 1.1em);
			@include icon(tel, $primary_color);
			@include trans-y();
			top: calc(50% + 2px);
			left: 0;
		}
	}

	&__list {
		@include flex;
		gap: 30px;
		margin-top: 10px;
		@include mqd($lg) {
			gap: 15px;
		}
		@include mqd($md-lg) {
			flex-direction: column;
			margin-top: 0;
			letter-spacing: .1em;
			gap: 0;
		}
	}

	&__listDl {
		display: none;
		@include mqd($md-lg) {
			display: block;
		}
	}

	&__toggleBox {
		@include mqd($md-lg) {
			display: grid;
			grid-template-rows: 0fr;
			transition: grid-template-rows 0.4s ease;
		}
	}
	&__toggleBoxWrap {
		@include mqd($md-lg) {
			overflow: hidden;
			display: flex;
			flex-direction: column;
		}
	}

	.js-toggle + &__toggleBox {
		@include mqd($md-lg) {
			grid-template-rows: 1fr;
		}
	}

	&__listWrap {
		@include mqd($md-lg) {
			overflow: auto;
			max-height: calc(100svh - 170px);
			padding: 0 20px 10px 0;
		}

	}

	&__link {
		justify-content: flex-end;
		font-weight: 700;
		font-size: 1.5rem;
		position: relative;

		&.--sp {
			display: none;
		}

		@include mqd($md-lg) {
			padding: 15px 10px;
			border-bottom: 1px solid #E8E8E8;
			font-size: 1.6rem;
			&:after {
				@include content(10px, 10px);
				@include icon(arrow, $primary_color);
				@include trans-y();
				right: 10px;
			}
			&[target="_blank"]:after {
				@include icon(window, $primary_color);
			}
			&.--pc {
				display: none;
			}
			&.--sp {
				display: block;
			}
			&.--toggle {
				cursor: pointer;

				&:after {
					@include icon(arrow_sm, $primary_color);
					@include trans-y(90);
				}
			}
			&.--toggle.js-toggle:after {
				@include trans-y(-90);
			}
		}

	}

	&__linkChild {
		font-size: 1.4rem;
		border-bottom: 1px solid $border-color;
		padding: 15px 20px;
		position: relative;
		background: #F8FBFE;
		font-weight: 500;

		&:after {
			@include content(10px, 10px);
			@include icon(arrow, $primary_color);
			@include trans-y();
			right: 10px;
		}
	}
}