<section class="comp-demo">
	<h2 class="comp-demo__label">c-product</h2>
	<div class="c-inner">
		<div class="c-product">
			<div class="c-product__box">
				<a class="c-product__item" href="#">
					<figure class="c-product__figure">
						<img alt="" class="c-product__img" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='226' height='130'%3E%3Crect fill='%23fff' width='226' height='130' stroke='%23D8EBFD'/%3E%3Ctext x='113' y='70' text-anchor='middle' fill='%232D83E2' font-size='14' font-family='sans-serif'%3EProduct%3C/text%3E%3C/svg%3E">
					</figure>
					<h3 class="c-product__title">製品名A</h3>
				</a>
				<div class="c-product__item">
					<figure class="c-product__figure --hidden">
						<img alt="" class="c-product__img" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='226' height='130'%3E%3Crect fill='%23fff' width='226' height='130' stroke='%23D8EBFD'/%3E%3Ctext x='113' y='70' text-anchor='middle' fill='%23999' font-size='14' font-family='sans-serif'%3EHidden%3C/text%3E%3C/svg%3E">
					</figure>
					<h3 class="c-product__title">準備中製品</h3>
				</div>
				<a class="c-product__item" href="#">
					<figure class="c-product__figure">
						<img alt="" class="c-product__img" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='226' height='130'%3E%3Crect fill='%23fff' width='226' height='130' stroke='%23D8EBFD'/%3E%3Ctext x='113' y='70' text-anchor='middle' fill='%232D83E2' font-size='14' font-family='sans-serif'%3EProduct%3C/text%3E%3C/svg%3E">
					</figure>
					<h3 class="c-product__title">製品名B</h3>
				</a>
			</div>
		</div>
	</div>
</section>
