<section class="comp-demo">
	<h2 class="comp-demo__label">c-zoomPicture</h2>
	<div class="c-inner">
		<a class="c-zoomPicture --pc" data-modal-src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='450'%3E%3Crect fill='%23EEF5FE' width='800' height='450'/%3E%3Ctext x='400' y='230' text-anchor='middle' fill='%232D83E2' font-size='24' font-family='sans-serif'%3EZoom%3C/text%3E%3C/svg%3E" href="#">
			<img alt="" class="c-zoomPicture__img" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='450'%3E%3Crect fill='%23EEF5FE' width='800' height='450'/%3E%3Ctext x='400' y='230' text-anchor='middle' fill='%232D83E2' font-size='24' font-family='sans-serif'%3ESample%3C/text%3E%3C/svg%3E">
		</a>
	</div>
</section>
