@use "../../_global/00-index" as *;
.l-productsSingleVoice {
	padding: 8rem 0 0;
	@include mqd($md){
		padding: 6rem 0 0;
	}
	&__inner{
		padding-top: 4rem;
		padding-bottom: 4rem;
		@include mqd($md-lg){
			padding-top: 0;
			padding-bottom: 6rem;
		}
		&:after{
			@include content(100vw,100%,$bg-color0);
			left: 0;
			top: 0;
			z-index: -1;
			border-radius: 20px 0 0 20px;
			@include mqd(1000px){
				left: 30px;
			}
			@include mqd($md-lg){
				left: 5%;
			}
		}
	}

	&__box{
		@include flex;
		align-items: flex-start;
		gap: 40px;
		position: relative;
		@include mqd($md-lg){
			gap: 20px;
		}
	}
	&__img{
		flex: 1;
		display: block;
		width: 50%;
		aspect-ratio: 16 / 9;
		border-radius: 20px;
		margin-left: -150px;
		object-fit: cover;
		@include mqd($lg){
			margin-left: -80px;
		}
		@include mqd(1000px){
			margin-left: -30px;
			width: 40%;
		}
		@include mqd($md-lg){
			margin: 0 -5vw 0 -5vw;
			width: calc(100% + 10vw);
			max-width: inherit;
			border-radius: 0;
		}
	}
	&__detail{
		margin-top: 40px;
		width: 450px;
		@include mqd($md-lg){
			margin-top: 0;
			width: 100%;
			padding-left: 20px;
		}
	}

	&__container{
		@include flex;
		gap:2px 20px;
		align-items: center;
		margin-bottom: 20px;
	}
	&__companyName{
		font-size: 2.2rem;
		font-weight: 500;
		width: 100%;
		@include mqd($md-lg){
			order: 2;
		}
	}
	&__category{
		font-size: 1.3rem;
		background: $white;
		color: $primary_color;
		font-weight: 500;
		border: 1px solid $primary_color;
		border-radius: 5px;
		margin-bottom: 5px;
		padding: 2px 10px;
	}

	&__categoryItem{
		&:not(:last-child):after{
			content: "・";
		}
	}

	&__case{
		font-size: 1.4rem;
	}
	&__title{
		font-size: 1.6rem;
		color: $primary-color;
		font-weight: 600;
		margin-bottom: 20px;
		position: relative;
		padding-left: 1em;
		@include flex;
		align-items: center;
		gap: 15px;
		@include mqd($md-lg){
			margin-bottom: 5px;
		}
		&:before{
			@include content(5px,5px,$primary-color);
			border-radius: 50%;
			left: 0;
			top: .7em;
		}
	}
	&__lead{
		font-size: 2.8rem;
		font-weight: 600;
		border-bottom: 1px solid $border-color;
		color: $dark-blue;
		padding-bottom: 20px;
		letter-spacing: .1em;
		margin-bottom: 20px;
		@include mqd($md-lg){
			font-size: 2.3rem;
		}
	}

	&__btn{
		@include mqd($md-lg){
			width: 100%;
		}
	}
	&__contactWrap{
		margin-top: 60px ;
		@include mqd($md-lg){
			margin-top: 10px;
			padding-left: 20px;
		}
	}

}