@use "../../_global/00-index" as *;

.l-productsSingle {
	&__relation {
		position: absolute;
		//height: 54px;
		width: 100%;
		left: 0;
		top: 100%;
		z-index: 1000;
		padding: 10px 40px;
		background: #F8FBFE;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		@include flex;
		align-items: center;
		font-size: 1.4rem;
		letter-spacing: .1em;
		transition: .3s top;
		@include mqd(1200px) {
			padding: 10px 20px;
		}
		@include mqd($md-lg) {
			display: none;
		}
	}

	&__relationTitle {
		padding: 5px 40px 5px 20px;
		font-weight: 600;
		color: $primary-color;
		border-right: 1px solid $border-color;
	}

	&__relationItem {
		padding: 5px 30px 5px;
		font-weight: 500;
		border-right: 1px solid $border-color;
		@include flex;
		align-items: center;
		gap: 8px;

		&:after {
			content: '';
			width: 1.1rem;
			height: 1.1rem;
			display: block;
			@include icon('arrow', $primary_color);
		}
	}

	&__relationBtn {
		margin-left: auto;
		$self: &;
		background: $white;
		border-radius: 40px;

		color: $primary_color;
		padding: 5px 45px 5px 20px;
		font-weight: 500;
		transition: .3s ease;
		transition-property: background-color, border-color, color;
		border: 1px solid $primary_color;
		position: relative;

		&:after {
			@include content(1.5rem, 1.5rem);
			@include icon('download', $primary_color);
			@include trans-y();
			right: 15px;
		}

		@include mqd($md) {
			letter-spacing: 0;
		}

		&:hover {
			background: $primary_color;
			border-color: $primary_color;
			color: $white;
			opacity: 1;

			&:after {
				background-color: $white;
			}

		}
	}

	&__breadCrumb {
		padding-top: 80px;
		@include mqd($md-lg) {
			padding-top: 0;
		}
	}
}