@use "../../_global/00-index" as *;
.l-productsSingleLocalNav {

	&__photoList{
		@include flex;
		gap: 20px;
		margin-top: -60px;
		margin-bottom: 60px;
		@include mqd($md){
			gap: 15px;
			margin-bottom: 20px;
		}

	}
	&__photoItem{
		@include gap(20px,3);
		display: block;
		object-fit: cover;
		aspect-ratio: 16 / 9;
		border-radius: 10px;
		@include shadow(5px,5px,8px,.25,$shadow-color);
		border: 1px solid $primary_color;
		@include mqd($md-lg){
			@include gap(20px,2);
		}
		@include mqd($md){
			@include gap(20px,1);
		}
	}

	&__btnList{
		@include flex;
		gap:0 20px;
	}
	&__btn{
		@include gap(20px,4);
		min-width: initial;
		@include mqd($md-lg){
			@include gap(20px,2);
		}
		@include mqd($md){
			@include gap(20px,1);
		}
	}
}