@use "../../_global/00-index" as *;
.l-productsSingleFaq {
	background: $bg-color0;
	padding: 8rem 0;
	@include mqd($md){
		padding: 6rem 0;
	}

	&__list{
		@include flex;
		flex-direction: column;
		gap: 20px;
	}

	&__item{
		background: $white;
		border-radius: 5px;
		padding: 0 40px;
		@include mqd($md){
			padding: 0 20px;
		}
	}
	&__question,&__answer{
		padding: 20px 0 20px 2em;
		position: relative;
		&:before{
			position: absolute;
			left: 0 ;
			top:.9em;
			font-size: 1.2em;
			color: $primary_color;
			font-weight: 600;
		}
	}
	&__question{
		font-weight: 500;
		&:before{
			content: 'Q.';

		}
	}
	&__answer{
		border-top: 1px solid $border-color;
		&:before{
			content: 'A.';
		}
	}
	&__btn{
		@include mqd($md){
			width: 100%;
		}
	}
	&__btnList{
		@include flex;
		gap:10px 20px;
		margin-bottom: 50px;
	}

	&__btnItem{
		@include gap(20px,5);
		@include mqd($md){
			@include gap(20px,2);
		}
	}

}