$icon-dir: "../../assets/img/icons";

$icons: (
	ranking: "#{$icon-dir}/ico-ranking.svg",
	arrow: "#{$icon-dir}/ico-arrow.svg",
	arrow_bottom: "#{$icon-dir}/ico-arrow_bottom.svg",
	arrow_sm: "#{$icon-dir}/ico-arrow_sm.svg",
	dot: "#{$icon-dir}/ico-dot.svg",
	mail: "#{$icon-dir}/ico-mail.svg",
	tel: "#{$icon-dir}/ico-tel.svg",
	menu: "#{$icon-dir}/ico-menu.svg",
	menu_close: "#{$icon-dir}/ico-menu_close.svg",
	keyword: "#{$icon-dir}/ico-keyword.svg",
	category: "#{$icon-dir}/ico-category.svg",
	search: "#{$icon-dir}/ico-search.svg",
	reload: "#{$icon-dir}/ico-reload.svg",
	light: "#{$icon-dir}/ico-light.svg",
	window: "#{$icon-dir}/ico-window.svg",
	download: "#{$icon-dir}/ico-download.svg"
);
