$icon-dir: "../../assets/icons";
$icons-sprite: "#{$icon-dir}/icons.svg";

$icons: (
	account: "#{$icon-dir}/ico-account.svg",
	arrow: "#{$icon-dir}/ico-arrow.svg",
	arrow_sm: "#{$icon-dir}/ico-arrow_sm.svg",
	bookmark: "#{$icon-dir}/ico-bookmark.svg",
	category: "#{$icon-dir}/ico-category.svg",
	delete: "#{$icon-dir}/ico-delete.svg",
	dot: "#{$icon-dir}/ico-dot.svg",
	download: "#{$icon-dir}/ico-download.svg",
	edit: "#{$icon-dir}/ico-edit.svg",
	home: "#{$icon-dir}/ico-home.svg",
	keyword: "#{$icon-dir}/ico-keyword.svg",
	list: "#{$icon-dir}/ico-list.svg",
	load: "#{$icon-dir}/ico-load.svg",
	mail: "#{$icon-dir}/ico-mail.svg",
	menu: "#{$icon-dir}/ico-menu.svg",
	menu_close: "#{$icon-dir}/ico-menu_close.svg",
	pdf: "#{$icon-dir}/ico-pdf.svg",
	pin: "#{$icon-dir}/ico-pin.svg",
	ranking: "#{$icon-dir}/ico-ranking.svg",
	reload: "#{$icon-dir}/ico-reload.svg",
	search: "#{$icon-dir}/ico-search.svg",
	sort: "#{$icon-dir}/ico-sort.svg",
	tel: "#{$icon-dir}/ico-tel.svg",
	web: "#{$icon-dir}/ico-web.svg",
	window: "#{$icon-dir}/ico-window.svg"
);
