@use "../../_global/00-index" as *;
.l-productsArchiveWorries {
	padding: 6rem 0 4rem;
	position: relative;
	background: #F2F6F9;
	@include mqd($md){
		padding: 6rem 0 0;
	}
	&__subTitle{
		text-align: center;
		font-weight: 600;
		font-size: 2.0rem;
		@include mqd($md){
			font-size: 1.6rem;
		}
	}
	&__title{
		text-align: center;
		margin-bottom: 20px;
		font-size: 3.6rem;
		font-weight: 600;
		letter-spacing: .1em;
		em{
			color: $accent_color;
		}
		@include mqd($md){
			font-size: 2.8rem;
			margin-bottom: 20px;
		}
	}

	&__img{
		margin: 0 auto;
		display: block;
		width: fit-content;
		@include mqd($sm){
			margin: 0 auto;
			width: 140%;
			max-width: 400px;
			position: relative;
			@include trans-x();
		}
	}
	&__imgItem{
		@include mqd($sm){
			width: 100%;
			display: block;
		}
	}
}