@use "../../_global/00-index" as *;
.l-showroomIntro {
	padding: 100px 0;
	@include mqd($md){
		padding: 80px 0;
	}

	&__flex{
		@include flex;
		gap: 40px;
		justify-content: space-between;
		align-items: center;
		@include mqd($md-lg){
			gap: 20px;
		}
	}
	&__detail{
		flex: 1;
		@include mqd($md-lg){
			flex:initial;
			order: 2;
			width: 100%;
		}
	}
	&__detailLead{
		text-align: left;
		font-size: 2.0rem;
		color: $dark-blue;
		font-weight: 500;
		line-height: 2;
		@include mqd($md-lg){
			font-size: 1.6rem;
		}
	}
	&__imgItem{
		width: 45%;
		@include mqd($md-lg){
			width: 100%;
		}
	}

	&__box{
		margin-top: 60px;
		@include flex;
		gap: 20px;
		@include mqd($md){
			gap: 10px;
		}
	}
	&__boxItem{
		padding: 70px 10px 10px;
		background: $white;
		border: 1px solid $primary_color;
		position: relative;
		border-radius: 10px;
		@include flex;
		flex-direction: column;
		@include gap(20px,3);
		@include mqd($md-lg){
			@include gap(20px,2);
			overflow: hidden;
		}
		@include mqd($md){
			@include gap(10px,1);
			padding: 70px 10px 10px;
		}
	}

	&__number{
		@include flex;
		align-items: center;
		font-size: 1.4rem;
		gap: 5px;
		color: $primary_color;
		@include web-font02;
		font-weight: 500;
		position: absolute;
		left: 20px;
		top:10px;
		z-index: 2;
		@include mqd($md){

		}
		em{
			-webkit-text-stroke: 1px $primary_color;
			color: transparent;
			font-size: 2.0em;
			font-weight: 700;
		}
	}

	&__lead{
		text-align: center;
		font-size: 2.2rem;
		position: relative;
		z-index: 2;
		@include mqd($lg){
			font-size: 1.8rem;
		}
		@include mqd($md-lg){
			font-size: 2.2rem;
		}
		em{
			font-weight: 600;
			color: $primary_color;
		}
	}

	&__info{
		font-size: 1.6rem;
		font-weight:700;
		color: $dark-blue;
		padding: 1em 2.5em;
		background: #F8FBFD;
		border:1px solid #C9E1FF;
		margin-top: 1.5em;
		border-radius: 5px;
		flex: 1;
		@include flex;
		align-items: center;
		justify-content: center;
		position: relative;
		text-align: center;
		@include mqd($md){
			padding: 1em 1.5em;
		}
		&:before{
			@include content(60px,60px);
			@include icon('ranking');
			left: -5px;
			top:-20px;
			@include mqd($md){
				width: 50px;
				height: 50px;
				left: -8px;
			}
		}
		em{
			color: $accent_color;
		}
	}


}