@use "../../_global/00-index" as *;
.l-showroomMap {
	padding: 0 0 150px;
	@include mqd(1200px){
		padding: 80px 0 80px;
	}
	@include mqd($md){
		padding: 40px 0;

	}
	&__inner{
		@include mqu(1200px){
			min-width: 1200px;
			padding: 80px 0;
		}
	}
	&__titleBox{
		z-index: 3;
		position: absolute;
		left: 0;
		top: 7%;
		max-width: 660px;
		width: 100%;
		text-align: center;
		@include mqd(1200px){
			position: static;
			margin: 0 auto 40px;
		}
	}
	&__subTitle{
		font-size: 2.0rem;
		font-weight: 600;
		color: $dark-blue;
		margin-bottom: .5em;
		@include mqd($md-lg){
			font-size: 1.6rem;
		}
	}
	&__title{
		font-size: 4.7rem;
		font-weight: 600;
		letter-spacing: .1em;
		color: $dark-blue;
		line-height: 1.4;
		margin-bottom: 20px;
		@include mqd($md-lg){
			font-size: 2.6rem;
		}
	}
	&__lead{
		line-height: 1.8;
		letter-spacing: .1em;
		@include mqd($md-lg){
			font-size: 1.4rem;
		}
	}


	&__mapFlex{
		@include mqd(1200px){
			@include flex;
			gap:40px 20px;
		}
	}
	&__map{
		width: 100%;
		@include mqd(1200px){
			display: none;
		}
	}

	&__box{
		position: absolute;
		@include mqu(1200px){
			z-index: 5;
			max-width: 350px;
			@include trans-xy;
			&:before{
				@include content();
				background: center center no-repeat;
				background-size: contain;

			}
			&.--box01{
				left: calc(50% + 445px);
				top: calc(50% - 114px);
				&:before{
					background-image: url(#{$dir}/showroom/line01.svg);
					width: 121.5px;
					height: 55.73px;
					right: calc(100% + 5px);
					top: 12px;
				}
			}
			&.--box02{
				left: calc(50% + 419px);
				top: calc(50% + 203px);
				&:before{
					background-image: url(#{$dir}/showroom/line02.svg);
					width: 121.5px;
					height: 55.73px;
					right: calc(100% + 5px);
					top: 12px;
				}
			}
			&.--box03{
				left: calc(50% + 98px);
				top: calc(50% + 325px);
				&:before{
					background-image: url(#{$dir}/showroom/line03.svg);
					width: 124.9px;
					height: 24.23px;
					right: calc(100% + 5px);
					top: -8px;
				}
			}
			&.--box04{
				left: calc(50% + 1px);
				top: calc(50% + 452px);
				&:before{
					background-image: url(#{$dir}/showroom/line04.svg);
					width: 48.5px;
					height: 142.23px;
					right: calc(100% + 5px);
					top: -126px;
				}
			}
			&.--box05{
				left: calc(50% - 262px);
				top: calc(50% + 464px);
				&:before{
					background-image: url(#{$dir}/showroom/line05.svg);
					width: 139.85px;
					height: 139.83px;
					top: -118px;
					right: calc(100% - 72px);
				}
			}
			&.--box06{
				left: calc(50% - 242px);
				top: calc(50% + 41px);
				&:before{
					background-image: url(#{$dir}/showroom/line06.svg);
					width: 79px;
					height: 72px;
					top: 12px;
					left: calc(100% + 28px);
				}
			}
			&.--box07{
				left: calc(50% - 460px);
				top: calc(50% + 136px);
				&:before{
					background-image: url(#{$dir}/showroom/line07.svg);
					width: 72.4px;
					height: 142.23px;
					top: 12px;
					left: calc(100% + 28px);
				}
			}
		}
		@include mqd(1200px){
			position: static;
			@include gap(20px,4);
		}
		@include mqd($md-lg){
			@include gap(20px,3);
		}
		@include mqd($md){
			@include gap(20px,2);
		}
	}
	&__boxTitle{
		font-size: 1.6rem;
		font-weight: 600;
		border-bottom: 1px solid #C4C4C4;
		position: relative;
		display: block;
		width: fit-content;
		&:before{
			@include content(1em,1em);
			@include icon('window');
			left: calc(100% + 5px);
			@include trans-y();
		}
	}
	&__boxPlace{
		margin-top: .3em;
		font-size: 1.3rem;
		color: #898989;
	}
	&__boxProduct{
		@include flex;
		margin: 10px 0 10px;
		gap:5px 15px;
		@include mqd(1200px){
			flex-direction: column;
		}

	}
	&__boxProductItem{
		padding-left: .8em;
		position: relative;
		color: $primary_color;
		font-weight: 600;

		&:before{
			@include content(.4em,.4em,#B3B3B3);
			border-radius: 50%;
			left: 0;
			top: .6em;
		}
	}
	&__boxCategory{
		@include flex;
		gap: 5px;
		margin-top: 5px;
	}
	&__boxCategoryItem{
		background: $primary_color;
		color: $white;
		font-size: 1.4rem;
		padding: 4px 5px;
		border-radius: 5px;
		line-height: 1;
		@include flex;
		align-items: center;
		gap: 2px;

		&:after{
			content: '';
			display: block;
			width: .9em;
			height: .9em;
			position: relative;

			background: url(#{$dir}/showroom/ico-true.svg) center center no-repeat;
			background-size: contain;
		}
		&.--disable{
			background: #F7F7F7;
			border: 1px solid #DCDCDC;
			color: #989898;
			&:after{
				top: 1px;
				background-image: url(#{$dir}/showroom/ico-false.svg);
			}

		}
	}


}