@use "../../_global/00-index" as *;
.l-caseSingleFaq {
	padding: 100px 0 100px;
	position: relative;
	background: url(#{$dir}/common/bg-gard.svg) center center no-repeat;
	background-size: cover;
	$self: &;
	@include mqd($md){
		padding: 0 0 80px;
		margin-top: 60px;
	}

	&__box{
		margin-top: 60px;
		@include flex;
		flex-direction: column;
		gap: 40px;
	}

	&__bubble{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 40px;
		@include mqd($md){
			flex-wrap: wrap;
			gap: 20px;
		}

		&.--question{
			#{$self}__bubbleText{
				order: -1;
				@include mqd($md){
					order: 1;
				}
			}
			#{$self}__bubbleText:after{

				@include triangle(right, 30,$white);
				left: 100%;
				top: 30px;
				@include mqd($md){
					transform: rotate(-90deg);
					top: initial;
					bottom:100%;

				}
			}
		}
		&.--answer{
			#{$self}__bubbleImg{
				@include mqd($md){
					margin-left: auto;
				}
			}
			#{$self}__bubbleText:after{
				@include triangle(left, 30,$white);
				right: 100%;
				top: 30px;
				@include mqd($md){
					transform: rotate(90deg);
					top: initial;
					bottom:100%;
				}
			}
		}
	}
	&__bubbleImg{
		width: 170px;
		height: 170px;
		border-radius: 50%;
		background: $white;
		@include flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		position: relative;
		@include mqd($md){
			width: 80px;
			height: 80px;
			z-index: 10;
			overflow: initial;
			margin: 0 20px -40px;
		}
	}
	&__bubbleImgText{
		width: 100%;
		text-align: center;
		font-weight: 500;
		font-size: 1.8rem;
		@include mqd($md){
			position: absolute;
			@include trans-x();
			top: calc(100% - 1em);
			font-size: 1.3rem;
			padding-top: .5em;
			text-align: center;
			background: $white;


		}
	}
	&__bubbleImgItem{
		width: 100px;
		&.--illustration{
			width: 70px;
			@include mqd($md){
				width: 60%;
			}
		}
		@include mqd($md){
			width: 80%;

			border-radius: 50px;
		}
	}
	&__bubbleText{
		flex: 1;
		padding: 30px;
		background: $white;
		border-radius: 20px;
		position: relative;
		@include mqd($md){
			padding:45px 20px 20px;
			flex: initial;
			width: 100%;
		}
		&:after{
			@include content(10px,10px);
			@include mqd($md){
				display: none;
			}
		}
	}
}