@use "../../_global/00-index" as *;
.l-conceptKeyVisual{
	position: relative;
	padding: 80px 0 40px;

	@include mqd($md){
		padding: 40px 0 0;
	}
	&__title{
		margin: 0 auto;
		width: fit-content;
		position: relative;
		display: block;
	}

	&__img01{
		position: absolute;
		@include trans-x();
		left: 90%;
		top: -130px;
		width: 320px;
		@include mqd($md){
			top: -100px;
			left: 88%;
			width: 220px;
		}
	}
	&__img02{
		position: absolute;
		//@include trans-x();
		left: 0;
		bottom: -230px;
		width: 210px;
		@include mqd($lg){
			width: 180px;
		}
		@include mqd($md){
			object-fit: cover;
			object-position: top;
			height: 120px;
			left: -40px;
			bottom: -70px;
		}
	}
}