# mysql
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=wordpress

# wordpress
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=user
WORDPRESS_DB_PASSWORD=password
WORDPRESS_DB_NAME=wordpress

# APACHE
APACHE_HOST_PORT_80=8080

# THEME
THEME_NAME=

# mailcatcher
#MAILCATCHER_PORT=1080
#SMTP_PORT=1025